* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: gray;
}

.swiper {
  width: 375px;
  height: 812px;
  border-radius: 10px;
  background-color: #eeece5;
  text-align: center;

  position: relative;
}

/* StatusBar */
/* ------------------------------------- */

.mobile_statusBar {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
/* ------------------------------------- */

header {
  margin: 0 auto;
  width: 327px;
  height: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* line-height: 1; */
}
.profile_container {
  margin: 0 10px;
  width: 50px;
  height: 100%;
}

.profile_container > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h3 {
  margin: 0 30px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container li {
  padding: 5px;
  list-style: none;
}

/* Main */
/* Main - Status */
/* ------------------------------------- */

main {
  width: 375px;
  margin: 10px auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background-color: black; */
}

.account_status {
  /* height: 0px; */
}

.account_container {
  margin: 10px 48px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

.account_container > div {
  margin: 10px auto;
}

.account > div {
  display: inline;
  color: gray;
}

.account > a {
  display: inline-block;
  font-size: 5px;
}

.balance > h2 {
  display: inline;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
}

.period {
  color: gray;
}

.ad {
  margin: 0 48px;
  font-size: 14px;
  font-weight: 600;

  /* background-color: red; */
}

/* Main - History */
/* ------------------------------------- */

.account_history {
  margin: 10px auto;

  /* border: 1px solid black; */
}

.account_history .history_container {
  margin: 10px 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
}

.history_container .history_views {
  margin: 0 20px;
  overflow: auto;

  /* background-color: red; */
  /* border: 1px solid red; */
}

.history_views .save_status {
  width: max-content;
  display: flex;
  justify-content: left;
  align-items: center;

  /* border: 1px solid black; */
}

.save_status .save_lists {
  margin: 5px 5px;
  width: 160px;
  border-radius: 10px;
  background-color: lightgray;
}

.save_status .save_lists > span {
  display: block;
}

.save_status .new_lists {
  width: max-content;
  margin: 5px 5px;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.save_status .new_lists button {
  margin: 0 5px;
  /* border-style: none; */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 10px;
}

.save_status .new_lists div {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spend  */

.history_views .spend_status {
  margin: 0 auto;
  height: max-content;
  /* border: 1px solid black; */
}

.history_views .spend_list {
  border: 1px solid red;
}

.history_views .spend_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spend_title .day {
  display: inline-block;
}

.history_views .spend_itmes {
}

/* Nav */
/* ------------------------------------- */

nav {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: tomato;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav .nav_container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
